@import url('https://fonts.cdnfonts.com/css/panthera');
@import url(https://db.onlinewebfonts.com/c/9d321e63e55e0cc4622852096e2fac4a?family=BEYNO);
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(https://db.onlinewebfonts.com/c/582850da0def991b32a24aa69a948d25?family=Wakanda+Forever+Regular);

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    padding: 50px 70px;
}
body{
    background-image: url(../IllustrationsLogo/Allpages/arrière_plan.png);
    margin-bottom: 40px;
}


ul {
    list-style: none;
}
a{
    text-decoration: none;
}


/*Header start*/


#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#navbar img{
    width: 80px;
    margin-left: 100px;
    color: white;
}

#navbar ul{
    display: flex;
  margin-right: 100px;
}
#navbar ul li a{
    padding: 80px 40px;
    color: white;
    font-weight: 1000;
    font-family: 'Beyno';
}
#navbar ul li a:hover{
    color: #3D2DA6;
    text-decoration: underline;
    /*border-bottom: 2px solid #3D2DA6;*/
}





body
{
overflow-x:hidden;

}
.section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.section-container .columns
{
flex:0 0 auto;
width:50%;
}
.section-container .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;

height: 600px;

display: block;

}
.section-container .columns.content .content-container
{
padding:180px 80px;
}
.section-container .columns.content .content-container h5
{
font-weight:1800;
padding: 10px 50px;
font-size:60px;
margin-bottom:10px;
color: #9E91B7;
text-transform: uppercase;
font-family: "BEYNO";
}


.content-container p {
    font-weight:300;

padding: 150px 150px;
background-image: url(../IllustrationsLogo/Enigme/Pantherenigme2.png);
font-size:16px;
margin-bottom:20px;
margin-bottom:2px;
text-align:center;
color: white;


}


.container
{
--bs-gutter-x: 1.8rem;
--bs-gutter-y: 0;


}

.container h3{
  font-size: 40px;
  font-family:"Wakanda Forever Regular" ;
  padding: 0 180px;
  color: #9E91B7;
}
.colonne{
  display: flex;
  justify-content: space-between;
  
 /* padding: 25px 30px ;*/
 align-items: center;
  margin: 3px px;
 padding: 50px 100px;

}
.colonne1{
  float: left;
  
  padding: 40px 100px;
  width: 80%;
  color: white;
}

/*.colonne .colonne1{
  margin: 20px 30px ;
  padding: 30px 50px;
  margin-bottom:30px;
  margin-bottom:40px;
  text-align:left;
  
 
}*/
.colonne11 h6{
  font-size: 16px;
  margin: 2px;

}
.colonne11 ul {
  float: left;
  margin: 80px 10px;
  font-family: "Cantarell-Regular";
  
}
.colonne12 h6{
padding: 20px ;
}
::placeholder{
  color: #979796;
  font-size: 15px;
  text-align: left;
  margin: 3px;
  
}

.colonne12 input{
  margin: 15px;
  padding: 10px 80px;
  border-radius: 30px;
  border-color:#DF99F2;

}
.colonne12 button{
  margin-top: 60px;
  margin-left: 100px;
  padding: 5px 30px;
  border-radius: 30px;
  background-color: #F2CEF2;
}
.colonne2{
  float: right;
  /*background-image:url(../IllustrationsLogo/Enigme/Pantherenigme2.png); */
  padding: 10px 300px;
  text-align: center;
  color: white;

}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 280px;
    background-image: url(../IllustrationsLogo/Allpages/back_footer.png);
    display: flex;
  }
  .footer div{
    text-align: center;
  
  }
  .col-1 {
    background-image: url(../IllustrationsLogo/Allpages/footer1.png);
    padding: 173px 95px ;
  }
  .col-2{
    flex-grow: 2;
    margin: 3px;
    padding: 50px 50px;
    color: white;
    
  }
  .col-2 h3{
  letter-spacing: 0.4em;
  }
  .col-2 ul{
    text-align: center;
  }
  .col-2 ul li{
    
    color: white;
    padding:20px  0;
    margin: 0 50px;
    font-size: 25px;
    text-transform: capitalize;
   
   
   
  }
  
  
  .col-3{
    flex-grow: 2;
    margin: 3px;
    padding: 50px 50px;
    color: white;
    
  }
  .col-3 h3{
    color: white;
    letter-spacing: 0.4em;
  }
  .col-3 .social-icon{
    padding:20px  0;
    margin: 0 50px;
    font-size: 25px;
   
    
    position: relative;
   
  }
  