@import url('https://fonts.cdnfonts.com/css/panthera');
@import url(https://db.onlinewebfonts.com/c/9d321e63e55e0cc4622852096e2fac4a?family=BEYNO);
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(https://db.onlinewebfonts.com/c/582850da0def991b32a24aa69a948d25?family=Wakanda+Forever+Regular);
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
  background-image: url(../IllustrationsLogo/Allpages/arrière_plan.png);
width: 100%;
min-height: 100%;
display: grid;



}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}


/*Header start*/


#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#navbar img{
    width: 90px;
    margin-left: 100px;
    color: white;
}

#navbar ul{
    display: flex;
  margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 20px;
    color: white;
    font-weight: 300;
    font-family: 'Beyno';
}
#navbar ul li a:hover{
    color: #3D2DA6;
    text-decoration: underline;
    /*border-bottom: 2px solid #3D2DA6;*/
}

/*Header End*/


.scroll .left-bar{
border-left: 2px solid gray;
height: 425px;
position: absolute;
left: 30px;
top: 0;
}
.scroll .mini-left-bar{
  border-left: 2px solid gray;
height: 285px;
position: absolute;
left: 60px;
top: 0;
}
.scroll .social{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  left: 55px;
  color: white;
  
}

.social i{
  padding: 9px 0px;
}


#about{
    position: relative;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    
    flex:0 0 auto;
    width:60%;
   
    
}

#about .contentBx{
    max-width: 50%;
    width: 50%;
    text-align: left;
    
   margin: 5px 19px;
}
.title{
  font-weight: 600;
  color: #9E91B7;
  font-size: 3rem;
  margin-bottom: 10px;
text-align: center;
text-transform: uppercase;
font-family: 'panthera';
margin-left: 100px;
 
}
.titleText{
    font-weight: 300;
    color: #9E91B7;
    font-size: 1.5rem;
    margin-bottom: 10px;
  text-align: center;
  font-family: 'Beyno';
   
}

.title-text{
    color: white;
    font-size: 1em;
    text-align: center;
    font-size: 15px;
    padding: 15px 2px;
    padding-right: 50px;
    margin-left: 90px;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
    float: left;
    margin-right: 15px;
   
    
}
.personnage{
    display: flex;
   justify-content: space-between;
   margin: 150px;
        width: 70%;
        
    
    }
    .personnage .personnage-item{
        max-width: 320px;
        float: left;
        text-align: left;
        
        
    }
    
    .personnage-info{
        color: white;
        margin-right: 20px;
        position: relative;
        display: flex;
        width: 60%;
        margin: 40px auto;
    }
    .personnage-info h3{
        font-size: 30px;
    }
    .personnage-info p{
        font-size: 15px;
        
    }



    #multimedia .slider-multimedia{
        display: flex;
        width: 70%;
        margin: 17px auto;
    }
    #multimedia .slider-image{
        width: 100%;
    }
   
    #multimedia .slider-content{
        padding: 10px 40px;
        background-color: #021740;
        margin-bottom: 110px;
        color: white;
    }
    .slider-content h2{
      font-family: "BEYNO";
      color: #9E91B7;
    }
  
    #multimedia p{
    font-size: 14px;
    }
    .container
{
--bs-gutter-x: 1.8rem;
--bs-gutter-y: 0;




}
.container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 150px;
    

}
 .content .columns {
  flex:0 0 auto;
    width:60%;
    padding: 10px 50px;
   
    
}
.titleT{
    font-weight: 30;
    color: #9E91B7;
    font-size: 2rem;
    margin-bottom: 10px;
  text-align: left;
  font-family: "BEYNO";
}
.title-T{
    font-size: 1rem;;
    color: white;
    
    margin-bottom: 5px;
  text-align: left;
  
  
}
.wrapper{
   /*margin: 15 auto;*/
   
    padding: 100px 100px;

    margin-top: 1px;
   
    
    
  }
  
  .wrapper h1{
    
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  .team .team_member{
    background: #fff;
    
    margin-bottom: 50px;
    margin-top: 20px;
    width: 400px;
    padding: 20px;
    line-height: 25px;
    color: #8e8b8b;  
    position: relative;

  
  }
  .team  .team_member .team_img{
    /* position: absolute;
     top: -50px;
     left: 50%;
     transform: translateX(-50% );
     width: 100px;
     height: 100px;*/
    
     transform: translateX(-9%);
    margin: 10px;
    /* width : 5px;
 height :100px;
 padding: 0px 180px;
 margin-top: 30px;
 */
 
   }
   
   .team .team_member .team_img img{
     /*width: 200px;
     height: 300px;
     padding: 10px 10px;
     margin: 0px auto;*/
    padding: 0px 3px;
    margin: 1px 1px;
   
     
   }
  .team .team_member h3{
    color: black;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
  
  
  
  
  .team .team_member ul{
    color: black;
    text-align: left;
  }

  .team .team_member p{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  #contact{
    
   
     display: block;
    justify-content: center;
    background-image: url(../IllustrationsLogo/Accueil/Pantherhome7.png);
    padding: 450px 80px;
    margin: 15px 60px;
    background-position: center;


}









.container .form{
  /*width: 300px;
  padding: 300px auto;
  position: absolute;*/
  
  
  
  width: 600px;
  
   height: auto;
  
   position: absolute;
  
   left: 50%;
  
   transform: translate(-50%, -50%);
   margin: auto 60px;
   background: white;
   
   border-radius: 120px;
   background-size: 38px;
   padding: 30px 20px;
  
  }

  .form p{
    text-align: center;
  }
  
  #contact h2{
      text-align: center;
      font-size: 32px;
      margin-bottom: 32px;
      color: black;
  }
  #contact p{
    color: black;
    margin: 15px;
    padding: 0 3px;
  }
  ::placeholder{
    color: #979796;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
    
  }
  
  input {
    width: 520px;
    height: 56px;
    border-radius: 38px;
    display: block;
    justify-content: center;
    padding:20px  0;
    margin: 30px 50px;
  }

  
  /*textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
    padding: 18px;
    font-size: 15px;
    justify-content: center;
  }*/
  
  textarea {
    
   /* padding: 10px;*/
  color: #979796;
    font-size: 15px;
    justify-content: left;
    
   padding:50px  120px;
    margin: 5px 20px;
    
    
  
    border-radius: 40px;
  }
  
  

  .form button{
    
    justify-content: center;
    padding:10px 60px;
    margin: 15px 190px;
    display: block;
    justify-content: center;
    
    
  }








  .footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 280px;
    background-image: url(../IllustrationsLogo/Allpages/back_footer.png);
    display: flex;
  }
  .footer div{
    text-align: center;
  
  }
  .col-1 {
    background-image: url(../IllustrationsLogo/Allpages/footer1.png);
    padding: 173px 95px ;
  }
  .col-2{
    flex-grow: 2;
    margin: 3px;
    padding: 50px 50px;
    color: white;
    
  }
  .col-2 h3{
  letter-spacing: 0.4em;
  }
  .col-2 ul{
    text-align: center;
  }
  .col-2 ul li{
    
    color: white;
    padding:20px  0;
    margin: 0 50px;
    font-size: 25px;
    text-transform: capitalize;
   
   
   
  }
  
  
  .col-3{
    flex-grow: 2;
    margin: 3px;
    padding: 50px 50px;
    color: white;
    
  }
  .col-3 h3{
    color: white;
    letter-spacing: 0.4em;
  }
  .col-3 .social-icon{
    padding:30px  40px;
    margin: 0 50px;
    font-size: 25px;
   
    
    position: relative;
   
  }
  
